/*#theme*/
$bac: #08C2F6;
$hoverbac:#fff;
$hovercor:#08C2F6;
$text-color:#ffffff;
$left: 0;
$right: 0;
$top: 0;
$bottom:0;
$sprit-H:44px;
$sprit-W:44px;
$float:left;
$position:0 0;
$margin:0 0 0 0;
@mixin left{
  float: left;
}
@mixin right{
  float: right;
}
@mixin pandm{
  padding: 0;
  margin: 0;
  width: 100%;
  font-size: 2rem;
}
@mixin cat($sprit-H,$sprit-W,$position,$float){
  height: $sprit-H;
  width:$sprit-W;
  background-position: $position;
  transform: scale(0.6,0.6);
  float: $float;
}
@mixin header-fix($left,$right,$top,$bac,$text-color){
  position: fixed;
  left: $left;  top: $top;  right: $right;
  background-color: $bac;
  color: $text-color;
  text-align: center;
  vertical-align: middle;
}
@mixin footer-fix($left,$right,$bottom,$bac,$text-color){
  position: fixed;
  left: $left;  bottom: $bottom;  right: $right;
  background-color: $bac;
  color: $text-color;
  text-align: center;
  vertical-align: middle;
}
@mixin footer-container{
  flex:1;
  width: 45%;
  height: 4.5rem;
  line-height: 4.5rem;
  border-radius: 0.3rem;
  text-align: center;
  cursor: pointer;
  border:0.2rem solid #08C2F6;
}
@mixin input-easy{
  height: 5rem;
  border-style: none;
  outline:none;
}
@mixin ab-middle{
  position: absolute;
  top:50%;
  transform: translateY(-50%);
}
@mixin triangle{
  border-top: 0.9rem solid #8c8c8c;
  border-right: 1rem solid #ffffff;
  border-left: 1rem solid #ffffff;
  float: right;
}
@mixin nav($bac,$hoverbac,$hovercor){
    padding: 0 0 0 5rem;
    .mengbi {
      display: flex;
      justify-content: space-between;
      width: 20.6rem;
      background-color: $bac;
      padding: 0;
      border-radius: 4px;
      margin: 0 auto;
      a {
        text-decoration: none;
        width: 50%;
        text-align: center;
        line-height: 5.4rem;
        border-radius: 4px;
      }
      .text-color:hover {
        background: $hoverbac;
        color:$hovercor;
      }
    }
  }

/*#base*/
html{
  font-size: 62.5%;
  color: #fff;
}
body,header,header span,main,footer{
  @include pandm;
}
/*#layout*/
header{
  @include header-fix(0,0,0,$bac,$text-color);
  height:7rem;
  padding-top: 0.8rem;
  z-index: 999;
  box-sizing: border-box;
  .nav {
    @include nav(#55a8b3,$hoverbac,$hovercor);
    a{color: #fff}
  }
}
.dropdown-box{
  @include header-fix(0,0,7rem,#fff,#8c8c8c);
  border-bottom: 1px solid #e1e5e7;
  z-index: 999;
  font-size: 2rem;
  .box{
    width:33%;
    float:left;
    text-align: center;
    height: 6rem;
    line-height: 6rem;
  }
  .triangle{
    @include triangle;
    margin: 2.8rem 1rem 0 0;
  }
}
.box:hover .dropdown-menu1{
  display: block;
}
.dropdown-menu1 {
  position: absolute;
  width: 33%;
  z-index: 1000;
  display: none;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style-type: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.menu-text:hover{
  background-color:#d9edf7;
  color: #ffffff;
}
span{
  background: url("5.png");
}
.cat-1{
  @include cat(44px,44px,0 0,right);
  margin: 0.4rem 1rem 0.2rem 0;
}
.cat-2{
  @include cat(24px,24px,-178px 0,left);
  margin: 1.7rem 1rem 0 1rem;
}
.cat-3{
  @include cat(23px,19px,-178px -26px,left);
  margin: 1.7rem 1rem 0 1.3rem;
}
footer{
  @include footer-fix(0,0,0,#fff,$text-color);
  display: flex;
  justify-content: space-between;
  z-index: 999;
  border-top:1px solid #e2eaec;
  padding: 0 2rem;
  box-sizing: border-box;
  .footer-middle{
    transform: scale(0.8,0.8);
  }
  .tran8{
    transform: scale(0.8,0.65);
  }
  .tran9{
    transform: scale(0.8,0.8);
    margin-top: 1rem;
  }
}

.user-form{
  margin: 13rem 0 8rem 0;
  ul{
    padding-left: 0;
    li{
      border-bottom: solid 1px #e1e5e7;
      line-height: 6rem;
      color: #8c8c8c;
    }
  }
}
.lable-text{
  height: 4rem;
  line-height: 4rem;
  margin: 1rem 0 1rem 0;
}
.time-left{
  display: inline-block;
  width: 40%;
  margin:0 0 0 4rem;
  color: #000;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
p{
  display: inline;
  color: #0f0f0f;
  margin-left: 4rem;
}
main a{
  position: absolute;
  right: 1%;
  font-size: 3rem;
  text-decoration: none;
  cursor: pointer;
  color:#08C2F6;;
}
.time-important{
  position: absolute;
  font-size: 2rem;
  right: 7%;
  margin:0 0 0 5rem;
  color: #e63b0e;
}

